{% extends "blog/base.html" %} <!-- even within users app, can reference templates from blogapp-->
{% block content %}
	<div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group"> <!-- group related elements in form-->
        <legend class="border-bottom mb-4">Delete Post</legend>
          <h2>Are you sure, do you want to delete the post "{{ object.title }}"</h2>
        <div class="form-group">
          <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
          <a class="btn btn-outline-secondary" href={% url 'post-detail' object.id %}>Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
