{% extends "blog/base.html" %} <!-- even within users app, can reference templates from blogapp-->
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group"> <!-- group related elements in form-->
        <legend class="border-bottom mb-4">Reset Password</legend>
          {{ form|crispy }} <!-- | to show that we want to use a filter, which does all of the styling -->
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
